.container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    min-height: 150px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.loginForm {
    background: white;
    flex: 1.5;
    min-width: 300px;
    flex-wrap: wrap;
}

.imageSection {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-width: 250;
    background-color: rgb(0, 20, 41);
}

.bgimage{
    background-image: url('https://png.pngtree.com/background/20220731/original/pngtree-blue-white-abstract-background-picture-image_1913928.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position:absolute;
    opacity: 0.4;
}

.screen{
    position: relative;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow-x:hidden;
    flex-wrap:wrap; 
}
@media (max-width: 600px) {
    .container {
        height: 100vh;
        border-radius: 0;
        width: 100vw;
    }
    .imageSection{
        height: 150;
    }
    .loginForm{
        height: 100%;
    }
}