.headernavigation {
  opacity: 0;
  height: 0;
  position: sticky;
  top: 20px;
  justify-content: space-between;
}
.sider {
 display: block;
}

@media (max-width: 600px) {
  .sider {
    display: none;
    opacity: 0;
    }
  .headernavigation {
    opacity: 1;
    height: auto;
  }
}

